@import url('https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

:root {
  --white: %color:White%;
  --black: %color:Black%;
  --primary-025: %color:Primary 025%;
  --primary-050: %color:Primary 050%;
  --primary-100: %color:Primary 100%;
  --primary-200: %color:Primary 200%;
  --primary-300: %color:Primary 300%;
  --primary-400: %color:Primary 400%;
  --primary-500: %color:Primary 500%;
  --primary-600: %color:Primary 600%;
  --primary-700: %color:Primary 700%;
  --primary-800: %color:Primary 800%;
  --primary-900: %color:Primary 900%;
  --secondary-100: %color:Secondary 100%;
  --secondary-200: %color:Secondary 200%;
  --secondary-300: %color:Secondary 300%;
  --secondary-400: %color:Secondary 400%;
  --secondary-500: %color:Secondary 500%;
  --secondary-600: %color:Secondary 600%;
  --secondary-700: %color:Secondary 700%;
  --secondary-800: %color:Secondary 800%;
  --secondary-900: %color:Secondary 900%;
  --grey-025: %color:Grey 025%;
  --grey-050: %color:Grey 050%;
  --grey-100: %color:Grey 100%;
  --grey-200: %color:Grey 200%;
  --grey-300: %color:Grey 300%;
  --grey-400: %color:Grey 400%;
  --grey-500: %color:Grey 500%;
  --grey-600: %color:Grey 600%;
  --grey-700: %color:Grey 700%;
  --grey-800: %color:Grey 800%;
  --grey-900: %color:Grey 900%;
  --grey-950: %color:Grey 950%;
  --lilac-100: %color:Lilac 100%;
  --lilac-200: %color:Lilac 200%;
  --lilac-300: %color:Lilac 300%;
  --lilac-400: %color:Lilac 400%;
  --lilac-500: %color:Lilac 500%;
  --lilac-600: %color:Lilac 600%;
  --lilac-700: %color:Lilac 700%;
  --lilac-750: %color:Lilac 750%;
  --lilac-800: %color:Lilac 800%;
  --lilac-850: %color:Lilac 850%;
  --lilac-900: %color:Lilac 900%;
  --error-100: %color:Error 100%;
  --error-200: %color:Error 200%;
  --error-300: %color:Error 300%;
  --error-400: %color:Error 400%;
  --error-500: %color:Error 500%;
  --error-600: %color:Error 600%;
  --error-700: %color:Error 700%;
  --error-800: %color:Error 800%;
  --error-900: %color:Error 900%;
}

/* Customise the loading spinner */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#loadingSpinner {
  -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
    border-radius: 0;
    background-size: cover;
    box-shadow: none;/*0px 0px 10px 10px #fcfcfc;*/
    background-color: transparent;
    background-image: url("_/theme/resources/spinner.png") !important;
}

/* Style the expanded datepicker */
.daterangepicker {
  color: var(--grey-700);
  padding: 15px;
  box-shadow: 0 6px 12px rgba(136, 136, 136, 0.18) !important;
  border: none !important;
}
.calendar-table td.active {
  background-color: var(--secondary-500);
  color: var(--primary-500);
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: var(--primary-500);
  color: var(--white);
}
.daterangepicker td.off {
  color: var(--grey-200);
}
.daterangepicker select.monthselect {
  border: none;
  font-size: 1em;
}
.daterangepicker select.yearselect {
  border: none;
  font-size: 1em;
}
.anvil-datepicker .fa-calendar {
  bottom: auto;
  right: 30px;
}

/* Component: CheckBox */
.checkbox input {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid var(--grey-300); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox input:focus {
  outline: 0;
}

.checkbox input:checked {
  background-color: var(--grey-300);
  color: var(--white);
}

.checkbox input:checked:before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 10px;
}

.checkbox input:indeterminate:before {
  font-family: "FontAwesome";
  content: "\f068";
  font-size: 10px;
} 

.checkbox, {
  font-size: 16px;
}

/* Notifications */
body>div[data-notify="container"] {
  background: var(--secondary-500);
  border: none;
  padding: 24px;
  color: var(--grey-800);
}

/* Component: Dialog (alert), Notification */
.modal-content, body>div[data-notify="container"] {
  background-color: var(--white);
  color: var(--grey-800);
}

.modal-header {
  padding: 24px 24px 0px;
  font-size: 24px;
  line-height: 32px;
  border: 0;
}

.modal-body {
  padding: 20px 24px 24px;
  font-size: 16px;
  color: var(--grey-400);
}

.modal-footer {
  padding: 8px 8px 8px 24px;
  border: 0;
}

.modal-footer .btn {
  background: var(--secondary-500) !important;
  color: #3A3368;
  border: none !important;
}
.modal-footer .btn, .modal-footer .btn:focus, .modal-footer .btn:active {
  box-shadow: none;
  top: 0;
  background: var(--secondary-600);
}

/* Change link colour in modals */
.modal-dialog .link-text {
  color: var(--lilac-500);
}